asgiref==3.2.3
attrs==19.3.0
autobahn==19.11.1
Automat==0.8.0
autopep8==1.4.4
cffi==1.13.2
channels==2.3.1
constantly==15.1.0
cryptography==2.8
daphne==2.4.0
Django==2.2.10
djangorestframework==3.10.3
entrypoints==0.3
flake8==3.7.8
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
mccabe==0.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
PyHamcrest==1.9.0
pyOpenSSL==19.1.0
pytz==2019.2
PyYAML==5.1.2
service-identity==18.1.0
six==1.13.0
sqlparse==0.3.0
Twisted==19.10.0
txaio==18.8.1
zope.interface==4.7.1
